{% extends "base.html.twig" %}

{% block title %}Entreprise {{company.label}}{% endblock %}

{% block body %}
    <h1 class="my-5">Entreprise {{company.label}}</h1>

    <table class="table table-striped">
        <tr>
            <th>Nom de l'entreprise</th>
            <th>Adresse</th>
            <th>Domaine d'activité</th>
        </tr>
        <tr>
            <td>{{company.label}}</td>
            <td>{{company.address}}</td>
            <td>{{company.business}}</td>
        </tr>
    </table>
    <ul class="list-group">
        {% for axe in axis %}
            <li class="list-group-items">
                {{axe.label}} = {% if axisRating[axe.id] is defined %} 
                    {{axisRating[axe.id]}} / 2;
                {% else %}
                    La partie {{axe.label}} n'a pas encore été remplie
                    {% endif %}
                {% endfor %}
            </li>
    </ul>

    <div data-axis = {{axisRating |serialize(format = 'json')}} data-name = {{axisName |serialize(format = 'json')}} id='dataRating'>
        <canvas id="myChart" ></canvas>
    </div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');
let rating = document.querySelector('#dataRating').dataset.axis;
let names = document.querySelector('#dataRating').dataset.name;
names = JSON.parse(names);
rating = JSON.parse(rating);
let ratingValues = Object.values(rating);
new Chart(ctx, {
    type: 'radar',
    data: {
      labels: names,
      datasets: [{
        label: 'Évaluation',
        
        data: ratingValues,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        
      }
    }
  });
  ctx.style.width = '500px';
  ctx.style.height = '500px';
</script>

    <p class="my-3">
        {% if quiz %}
            <a href="{{path('quiz_choice', {quiz:quiz.id})}}" class="btn btn-primary"> Continuer le questionnaire</a>
        {% else %}
            <a href="{{path('quiz_choice')}}" class="btn btn-primary"> Remplir le questionnaire</a>
        {% endif %}
        
    </p>
    

{% endblock %}